:root{

    /* light-mode */
    --primary-color: rgb(0, 64, 255);
    --secondary-color: rgb(61, 61, 61);
    --terceary-color: rgb(232, 231, 231);


    --header-background-color: var(--primary-color);
    

    /*Text*/
    --text-primary-color: var(--terceary-color);

    --text-title-size: 1rem;
    --text-size: 0.7rem;

    --text-weigth-bold: 400;
    --text-weigth-light: 300;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

.wrapper{
    width: clamp(0px, 100%, 2560px);
    height: 100vh;
    margin: 0 auto;
}

.header{

    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    gap: 5px;
    background-color: var(--header-background-color);
}

.header_img_icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--header-background-color);

    transition: all 0.2s ease-out;
}

.header_img_icon:hover{
    filter: brightness(80%);
}
/*Menu Sidebar*/
.navigation_side_bar{
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    left: -500px;
    width: fit-content;
    height: 100vh;
    padding: 15px;
    opacity: 0;
    
    background-color: var(--secondary-color);
    color: var(--text-primary-color);
    font-size: var(--text-size);
    font-weight: var(--text-weigth-bold);
    transition: all 0.5s ease-out;
}
.navigation_side_bar.open{
    left: 0;
    opacity: 1;
}

.sidebar_icon{
    width: 40px;
    height: 40px;
}

.navagation_sections_container{
 width: fit-content;
 height: auto;

}



.modal_1{
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    height: 100%;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease-out;
}

.modal_1.open{
    visibility: visible;
    opacity: 1;
    width: 200px;
}