:root{

    /* light-mode */
    --primary-color: #0ecced;
    --secondary-color: rgb(61, 61, 61);
    --terceary-color: #020764;


    --header-background-color: var(--secondary-color);
    --header-icon-color: var(--primary-color);
    

    /*Text*/
    --text-primary-color: var(--primary-color);

    --text-title-size: 2rem;
    --text-size: 1rem;

    --text-weigth-bold: 600;
    --text-weigth-light: 300;

    --primary-font: sans-serif;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}

body{
    height: 100vh;
    width: 100vw;
}

.wrapper{
    width: clamp(0px, 100%, 2560px);
    height: 100vh;
    margin: 0 auto;
}

.header{

    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    color: var(--text-primary-color);
    gap: 5px;
    background-color: var(--header-background-color);
}

/*Header Icons*/

/*Icon de menu*/
.fa-solid.fa-bars,.fa-brands.fa-github{
    color: var(--header-icon-color); 
    font-size: clamp(1rem, 7vw, 2rem);
    padding: 5px;
}


.header_img_icon:hover{
    filter: brightness(95%);
}



/*Menu Sidebar*/
.navigation_side_bar{
    position: absolute;
    display: block;
    left: -500px;
    width: 250px;
    height: 100vh;
    opacity: 0;
    
    background-color: var(--secondary-color);
    color: var(--text-primary-color);
    font-size: var(--text-size);
    font-weight: var(--text-weigth-bold);
    transition: all 0.5s ease-out;
}
.navigation_side_bar.open{
    left: 0;
    opacity: 1;
}

.sidebar_icon{
    width: 25px;
    height: 25px;
}

.sidebar_icon:last-child{
    filter: hue-rotate(360deg);
}

.navagation_sections_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.navagation_sections_container a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    padding: 14px 0px;
    padding-left: 10px;
    text-decoration: none;
    font-size: var(--text-size);
    font-weight: var(--text-weigth-bold);
    color: var(--text-primary-color);
    font-family: var(--primary-font);
    transition: all 0.1s ease-out;
}

.navagation_sections_container a:hover{
    background-color: var(--text-primary-color);
    color: var(--header-background-color);
}

